<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Tienda de Discos</title>
  </head>
  <body>
<main>
<!-- Seccion Home -->
  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" >
        <div class="col" *ngFor="let discos of discosList">
          <div class="card shadow-sm">
            <img src="{{discos.imagen}}"class="bd-placeholder-img card-img-top" width="100%" height="225" role="img"  preserveAspectRatio="xMidYMid slice">
            <div class="card-body">
              <p class="card-text">{{discos.titulo}}</p>
              <p class="card-text">{{discos.descripcion}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">{{discos.precio}}</small>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</main>
  </body>
</html>
